<%= form_tag images_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<h1 class="page-header">Images</h1>
<br>
<% @images.each do |image| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src= <%= image.src %> />
        <div class="caption">
          <% if image.tags.exists? %>
            <h3>Tags</h3>
              <% image.tags.each do |p| %>
                <span class="label label-info"><%= p.tag %></span>
              <% end %>
          <% end %>
          <br /><br />
          <p>
          <% if user_signed_in? %>
          <a href="#" class="btn btn-danger pin-btn" id = '<%= image.id %>' data-toggle="modal" data-target="#myModal">Pin</a>
          <% end %>
          </p>
        </div>
      </div>
    </div>
<% end %>

<%= render partial: 'subcategory_modal' %>
<script>
  var image_id = ""
  
  $('.pin-btn').click(function(e){
    e.preventDefault();
    image_id = $('.image_id').attr('id');
    $('#myModal').show();
  });

  $('#submit-btn').click(function(e){
    e.preventDefault();
    values = {}
    values['board_id'] = $('#board_id option:selected').val();
    values['image_id'] = image_id
    console.log(values);
    $.ajax({
      type:'POST', 
      url: '/boards/update_boards', 
      data: values
    }).done(function(response){
      console.log(values);
      if(response.message == "already")
        alert("Already available in this board");
      $('#myModal').modal('hide');  
    });
  });
</script>

